@using AssignMate.Core.Enums
@model AssignMate.Core.Models.ReadUser  

@{
    ViewData["Title"] = "Edit User";
}

<h3 class="mb-4 text-center">Edit User</h3>
<form method="post" asp-controller="User" asp-action="UpdateUser" asp-route-id="@Model.Id">
    <div asp-validation-summary="All" class="text-danger mb-3"></div>

    <div class="mb-3">
        <label class="form-label">Full Name</label>
        <input asp-for="Name" class="form-control" placeholder="Enter your full name" />
    </div>

    <div class="mb-3">
        <label class="form-label">Email address</label>
        <input asp-for="Email" class="form-control" placeholder="Enter your email" />
    </div>

    <div class="mb-3">
        <label class="form-label">Date of Birth</label>
        <input asp-for="DateOfBirth" type="date" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Role</label>
        <select asp-for="Role" class="form-control">
            <option value="">-- Select Role --</option>
            <option value="Student" selected="@(Model.Role == UserRole.Student)">Student</option>
            <option value="Teacher" selected="@(Model.Role == UserRole.Teacher)">Teacher</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary w-100">Save Changes</button>

    <div class="mt-3 text-center">
        <a asp-action="GetUser" asp-route-id="@Model.Id" class="btn btn-secondary">Cancel</a>
    </div>
</form>
